.searchSpace {
    display: inline-block;
    align-items: center;
    padding-top: 2em;
}

.searchSpot {
    background-color: white;
    width: 30em;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    margin-left: 5px;
    border: none;
    color: black;
}

input:focus {
    outline: none;
}

img {
    width: 1.3em;
    height: 1.3em;
}